body {
  overflow: hidden;
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #010405;
}

/* #canvas {
  height: 3px;
  width: 3px;
  margin: 50px 50% 0 0;
}

.magical {
  box-shadow: 3px 0 #fbdb04, 6px 0 #fcdc03, 9px 0 #fcdc03, 12px 0 #fcdc03,
    15px 0 #facf05, 42px 0 #ef6008, 45px 0 #fa5f0a, 48px 0 #fd5a06,
    51px 0 #ff5506, 54px 0 #ff500a, 78px 0 #ff1370, 81px 0 #ff0e88,
    84px 0 #ff08ac, 87px 0 #fa05c5, 120px 0 #6323b2, 123px 0 #602db4,
    126px 0 #6039b1, 129px 0 #6046af, 132px 0 #6153ae, 135px 0 #625dab,
    138px 0 #6064a3, 159px 0 #57c355, 162px 0 #55d24a, 165px 0 #5bd43d,
    186px 0 #87c708, 189px 0 #95cb02, 192px 0 #a3cb03, 195px 0 #b0cd02,
    198px 0 #bfce02, 201px 0 #cfd003, 204px 0 #dcd203, 237px 0 #b7d40a,
    240px 0 #8cd735, 243px 0 #5edb62, 267px 0 #f4ca05, 270px 0 #edca08,
    273px 0 #e4c813, 276px 0 #dcc61d, 306px 0 #60aa9a, 309px 0 #57aaa7,
    312px 0 #48a5b7, 315px 0 #3aa2c7, 318px 0 #2b9cd5, 321px 0 #2a88d7,
    324px 0 #2a72d7, 327px 0 #2b5ad7, 330px 0 #2c42d7, 333px 0 #2c2cd7,
    360px 0 #e31887, 363px 0 #fa197f, 366px 0 #ff1977, 369px 0 #ff1872,
    372px 0 #ff176c, 375px 0 #ff1567, 378px 0 #ff1460, 408px 0 #ff0818,
    411px 0 #ff0712, 414px 0 #ff050a, 417px 0 #ff0502, 420px 0 #ff0901,
    423px 0 #ff1000, 426px 0 #ff1800, 447px 0 #fc5600, 450px 0 #ff6500,
    453px 0 #ff7502, 456px 0 #fd8402, 459px 0 #fd9202, 462px 0 #fda002,
    465px 0 #fdad02, 468px 0 #fdba02, 471px 0 #fdc502, 474px 0 #fcd002,
    477px 0 #fcda02, 480px 0 #fadc03, 3px 3px #fada03, 6px 3px #fbdb03,
    9px 3px #fbdb02, 12px 3px #fbdb02, 15px 3px #fbd102, 42px 3px #f5650d,
    45px 3px #f95f09, 48px 3px #fd5a07, 51px 3px #ff5507, 54px 3px #ff500c,
    78px 3px #ff156b, 81px 3px #ff0f88, 84px 3px #ff08ab, 87px 3px #fd05c5,
    114px 3px #7020b7, 117px 3px #6e24b9, 120px 3px #6424b5, 123px 3px #602db3,
    126px 3px #6039b1, 129px 3px #6046af, 132px 3px #6152ac, 135px 3px #615da9,
    138px 3px #6269a8, 141px 3px #6472a8, 159px 3px #57c656, 162px 3px #55d249,
    165px 3px #5bd33e, 183px 3px #88ca0e, 186px 3px #8cca09, 189px 3px #94c903,
    192px 3px #a2ca03, 195px 3px #b0cd03, 198px 3px #bfce03, 201px 3px #cfd003,
    204px 3px #e0d203, 207px 3px #f1d402, 210px 3px #f7cf00, 234px 3px #c2d203,
    237px 3px #b7d50a, 240px 3px #8cd634, 243px 3px #66d95b, 246px 3px #d6e608,
    267px 3px #f3cb04, 270px 3px #edc90a, 273px 3px #e3c713, 276px 3px #dbc51a,
    306px 3px #61ab99, 309px 3px #56a9a7, 312px 3px #48a5b6, 315px 3px #39a1c6,
    318px 3px #2c9cd4, 321px 3px #2988d8, 324px 3px #2a71d7, 327px 3px #2b5ad7,
    330px 3px #2c43d8, 333px 3px #2c2cd8, 336px 3px #2f19d6, 339px 3px #3810cf,
    357px 3px #d11891, 360px 3px #e21988, 363px 3px #f7197f, 366px 3px #ff1879,
    369px 3px #ff1872, 372px 3px #ff166d, 375px 3px #ff1567, 378px 3px #ff1461,
    381px 3px #ff135a, 384px 3px #ff1050, 405px 3px #ff0922, 408px 3px #ff081a,
    411px 3px #ff0711, 414px 3px #ff050a, 417px 3px #ff0402, 420px 3px #ff0900,
    423px 3px #ff0f01, 426px 3px #ff1601, 429px 3px #ff1d00, 432px 3px #ff2000,
    447px 3px #fd5800, 450px 3px #fe6501, 453px 3px #fe7401, 456px 3px #fd8301,
    459px 3px #fd9201, 462px 3px #fd9f01, 465px 3px #fcad02, 468px 3px #fcb902,
    471px 3px #fcc501, 474px 3px #fbd002, 477px 3px #fbdb02, 480px 3px #fcdf02,
    3px 6px #fada03, 6px 6px #fbda03, 9px 6px #fbdb02, 12px 6px #fbdb03,
    15px 6px #fcce03, 18px 6px #ffbf00, 42px 6px #f6660d, 45px 6px #f95f09,
    48px 6px #fd5a06, 51px 6px #ff5507, 54px 6px #ff500a, 75px 6px #ff1b55,
    78px 6px #ff1668, 81px 6px #ff0f88, 84px 6px #ff09ac, 87px 6px #fb04c6,
    90px 6px #ef00cf, 111px 6px #8020bf, 114px 6px #7922bc, 117px 6px #6e23b8,
    120px 6px #6424b5, 123px 6px #602cb4, 126px 6px #6039b2, 129px 6px #6045ad,
    132px 6px #6051ac, 135px 6px #615eaa, 138px 6px #6269a7, 141px 6px #6273a4,
    144px 6px #647da2, 159px 6px #57c657, 162px 6px #55d248, 165px 6px #5bd33f,
    180px 6px #81cc15, 183px 6px #85cb10, 186px 6px #8cca08, 189px 6px #94ca03,
    192px 6px #a1ca04, 195px 6px #afcd03, 198px 6px #bdcd02, 201px 6px #cfd003,
    204px 6px #e0d203, 207px 6px #f1d303, 210px 6px #f9d503, 213px 6px #efcf00,
    234px 6px #c3d503, 237px 6px #b7d50a, 240px 6px #8cd634, 243px 6px #66d95b,
    246px 6px #cbdb12, 267px 6px #f3cb04, 270px 6px #edc90a, 273px 6px #e3c713,
    276px 6px #dbc51a, 306px 6px #61ab99, 309px 6px #56a9a7, 312px 6px #48a5b6,
    315px 6px #3aa2c5, 318px 6px #2b9cd5, 321px 6px #2a88d9, 324px 6px #2a72d7,
    327px 6px #2c59d8, 330px 6px #2b42d7, 333px 6px #2c2cd7, 336px 6px #3018d6,
    339px 6px #4315cf, 354px 6px #bb189b, 357px 6px #cc1991, 360px 6px #e21988,
    363px 6px #f61980, 366px 6px #ff1977, 369px 6px #ff1872, 372px 6px #ff176c,
    375px 6px #ff1567, 378px 6px #ff1460, 381px 6px #ff135a, 384px 6px #ff1155,
    387px 6px #ff1050, 402px 6px #ff0b27, 405px 6px #ff0922, 408px 6px #ff081a,
    411px 6px #ff0612, 414px 6px #ff070b, 417px 6px #ff0402, 420px 6px #ff0900,
    423px 6px #ff1000, 426px 6px #ff1601, 429px 6px #ff1d00, 432px 6px #ff2401,
    435px 6px #ff2000, 447px 6px #fd5800, 450px 6px #fe6401, 453px 6px #fe7401,
    456px 6px #fc8300, 459px 6px #fd9202, 462px 6px #fda002, 465px 6px #fdad02,
    468px 6px #fdba02, 471px 6px #fdc502, 474px 6px #fcd002, 477px 6px #fcda02,
    480px 6px #fadf03, 3px 9px #fada03, 6px 9px #fbdb02, 9px 9px #fbdb02,
    12px 9px #fbdb02, 15px 9px #fccd03, 18px 9px #fac205, 39px 9px #ef6d10,
    42px 9px #f5660c, 45px 9px #f95f09, 48px 9px #fd5a06, 51px 9px #ff5507,
    54px 9px #ff500c, 75px 9px #ff1b50, 78px 9px #ff1668, 81px 9px #ff0f87,
    84px 9px #ff08ab, 87px 9px #fa04c7, 90px 9px #ea08ca, 111px 9px #8222bf,
    114px 9px #7922bc, 117px 9px #6e23b9, 120px 9px #6424b5, 135px 9px #6060a7,
    138px 9px #6269a7, 141px 9px #6273a5, 144px 9px #627ea0, 147px 9px #60809f,
    159px 9px #57c656, 162px 9px #55d249, 165px 9px #5bd33f, 177px 9px #78cf18,
    180px 9px #80cc15, 183px 9px #85cb0f, 186px 9px #8bca08, 189px 9px #8fc700,
    204px 9px #e3d104, 207px 9px #f1d303, 210px 9px #f9d403, 213px 9px #f3d302,
    231px 9px #c7cf00, 234px 9px #c5d403, 237px 9px #b7d50a, 240px 9px #8bd736,
    243px 9px #66d95b, 246px 9px #c5dd18, 267px 9px #f3cb04, 270px 9px #edc90a,
    273px 9px #e3c713, 276px 9px #dbc51a, 306px 9px #61ab99, 309px 9px #56a8a7,
    312px 9px #48a5b6, 315px 9px #42a5c5, 330px 9px #3030cf, 333px 9px #2c29d7,
    336px 9px #3018d6, 339px 9px #4415ce, 342px 9px #5217c4, 351px 9px #a3189f,
    354px 9px #b6189c, 357px 9px #cc1991, 360px 9px #e11889, 363px 9px #ef1880,
    378px 9px #ff1560, 381px 9px #ff135b, 384px 9px #ff1154, 387px 9px #ff124e,
    399px 9px #ff0c2c, 402px 9px #ff0a29, 405px 9px #ff0922, 408px 9px #ff081a,
    411px 9px #ff0810, 426px 9px #ff1800, 429px 9px #ff1d00, 432px 9px #ff2400,
    435px 9px #ff2a00, 447px 9px #fd5800, 450px 9px #fe6501, 453px 9px #fe7401,
    456px 9px #fb7c00, 3px 12px #fada03, 6px 12px #fbdb02, 9px 12px #fbdb02,
    12px 12px #fcda02, 15px 12px #fccd03, 18px 12px #febe04, 39px 12px #f06d10,
    42px 12px #f5660d, 45px 12px #f9600a, 48px 12px #fd5a06, 51px 12px #ff5608,
    54px 12px #ff500a, 75px 12px #ff1d4d, 78px 12px #ff1668, 81px 12px #ff1082,
    84px 12px #ff08b0, 87px 12px #fa05c7, 90px 12px #ea08ca, 108px 12px #8f20bf,
    111px 12px #8422bf, 114px 12px #7922bc, 117px 12px #6f23b8,
    138px 12px #626ba6, 141px 12px #6273a5, 144px 12px #627e9f,
    147px 12px #608795, 159px 12px #57c656, 162px 12px #55d248,
    165px 12px #5bd33f, 177px 12px #7acd1d, 180px 12px #7fcc17,
    183px 12px #85cb10, 186px 12px #8aca08, 204px 12px #dfcf00,
    207px 12px #f1d303, 210px 12px #f9d403, 213px 12px #f4d502,
    231px 12px #c7d403, 234px 12px #c5d403, 237px 12px #b7d50a,
    240px 12px #85d73a, 243px 12px #66d95c, 246px 12px #c3dd1b,
    249px 12px #abdf34, 267px 12px #f3cb00, 270px 12px #edc909,
    273px 12px #e3c713, 276px 12px #dbc51a, 306px 12px #61ab99,
    309px 12px #56a9a7, 312px 12px #48a5b6, 315px 12px #42a5c5,
    333px 12px #2c24d7, 336px 12px #3018d6, 339px 12px #4415cd,
    342px 12px #5715c5, 351px 12px #a316a3, 354px 12px #b6189b,
    357px 12px #cc1892, 360px 12px #db188b, 378px 12px #ff1060,
    381px 12px #ff135a, 384px 12px #ff1154, 387px 12px #ff104d,
    390px 12px #ff1040, 399px 12px #ff0c30, 402px 12px #ff0a29,
    405px 12px #ff0921, 408px 12px #ff0818, 426px 12px #ff2000,
    429px 12px #ff1e00, 432px 12px #ff2301, 435px 12px #ff2b01,
    438px 12px #ff3000, 447px 12px #fd5800, 450px 12px #fe6501,
    453px 12px #fe7401, 456px 12px #fb7c00, 3px 15px #fada03, 6px 15px #fbdb03,
    9px 15px #fbdb02, 12px 15px #fcd700, 15px 15px #fccd04, 18px 15px #fdbc05,
    21px 15px #ffaf00, 36px 15px #e77010, 39px 15px #f06f12, 42px 15px #f5660d,
    45px 15px #f7600a, 48px 15px #fd5a06, 51px 15px #ff5507, 54px 15px #ff500c,
    72px 15px #ff2039, 75px 15px #ff1c4b, 78px 15px #ff1568, 81px 15px #ff107c,
    84px 15px #ff07b4, 87px 15px #fa04c6, 90px 15px #e608c9, 93px 15px #cf10cf,
    108px 15px #8720c3, 111px 15px #8422bf, 114px 15px #7923bc,
    117px 15px #7023ba, 138px 15px #60709f, 141px 15px #6272a5,
    144px 15px #627d9f, 147px 15px #608097, 159px 15px #57c656,
    162px 15px #55d249, 165px 15px #5bd33f, 177px 15px #79cf1d,
    180px 15px #7fcc17, 183px 15px #85cb10, 186px 15px #87c708,
    207px 15px #f3d301, 210px 15px #f9d502, 213px 15px #f3d403,
    231px 15px #cad603, 234px 15px #c5d403, 237px 15px #bcd405,
    243px 15px #66da5c, 246px 15px #c3dd1a, 249px 15px #a5df39,
    267px 15px #f3cb00, 270px 15px #edc90a, 273px 15px #e3c713,
    276px 15px #dbc51a, 306px 15px #61ab9b, 309px 15px #56a9a7,
    312px 15px #48a5b6, 315px 15px #42a5c5, 336px 15px #3017d6,
    339px 15px #4415cd, 342px 15px #5815c6, 351px 15px #a017a5,
    354px 15px #b6189c, 357px 15px #ca1794, 381px 15px #ff1258,
    384px 15px #ff1254, 387px 15px #ff104e, 390px 15px #ff1046,
    399px 15px #ff0b31, 402px 15px #ff0a2a, 405px 15px #ff0a22,
    429px 15px #ff1e00, 432px 15px #ff2401, 435px 15px #ff2a01,
    438px 15px #ff3000, 447px 15px #fd5800, 450px 15px #fe6501,
    453px 15px #fe7401, 456px 15px #fb7c00, 3px 18px #fada03, 6px 18px #fbdb03,
    9px 18px #fbdb02, 12px 18px #f4d400, 15px 18px #fccd03, 18px 18px #fdbc05,
    21px 18px #fdaf06, 36px 18px #ea7515, 39px 18px #f06f12, 42px 18px #f5660e,
    45px 18px #f76008, 48px 18px #fd5a07, 51px 18px #ff5507, 54px 18px #ff500c,
    72px 18px #ff2235, 75px 18px #ff1c4a, 78px 18px #ff1667, 84px 18px #ff00bf,
    87px 18px #fa05c7, 90px 18px #e609c9, 93px 18px #d90cc7, 108px 18px #8a20bf,
    111px 18px #8422bf, 114px 18px #7922bb, 117px 18px #7222b8,
    159px 18px #57c656, 162px 18px #55d249, 165px 18px #5bd33e,
    177px 18px #79ce1e, 180px 18px #7fcc17, 183px 18px #85cb0f,
    228px 18px #cfcf00, 231px 18px #cbd403, 234px 18px #c5d503,
    237px 18px #bfd403, 243px 18px #65da5e, 246px 18px #c3dd1b,
    249px 18px #9ee041, 252px 18px #80df50, 267px 18px #f3cb00,
    270px 18px #edc90a, 273px 18px #e3c713, 276px 18px #dbc51a,
    306px 18px #61ab99, 309px 18px #56a9a7, 312px 18px #48a5b6,
    315px 18px #42a5c5, 333px 18px #2a20d4, 336px 18px #3018d7,
    339px 18px #4415ce, 342px 18px #5716c4, 348px 18px #8f18a7,
    351px 18px #a017a5, 354px 18px #b6189c, 357px 18px #c81994,
    381px 18px #ff1356, 384px 18px #ff1254, 387px 18px #ff104e,
    390px 18px #ff1047, 396px 18px #ff0838, 399px 18px #ff0c31,
    402px 18px #ff0a2a, 405px 18px #ff0921, 429px 18px #ff2000,
    432px 18px #ff2401, 435px 18px #ff2b01, 438px 18px #ff3000,
    447px 18px #fd5800, 450px 18px #fe6501, 453px 18px #fe7401,
    456px 18px #fb7c00, 3px 21px #fada03, 6px 21px #fbdb03, 9px 21px #fbdb02,
    12px 21px #fbdb04, 15px 21px #fbc904, 18px 21px #fdbc04, 21px 21px #fead06,
    36px 21px #ea7916, 39px 21px #f06f11, 42px 21px #f4680d, 45px 21px #fa5a0b,
    48px 21px #fd5a06, 51px 21px #ff5507, 54px 21px #ff500c, 69px 21px #ff2828,
    72px 21px #ff2434, 75px 21px #ff1c4b, 78px 21px #ff1662, 87px 21px #f704c8,
    90px 21px #e608c9, 93px 21px #d70dca, 108px 21px #8a20bf, 111px 21px #8422bf,
    114px 21px #7923bd, 117px 21px #7223ba, 159px 21px #57c656,
    162px 21px #55d249, 165px 21px #5bd33f, 177px 21px #78ce1e,
    180px 21px #7fcd17, 183px 21px #85cc0f, 228px 21px #cdd302,
    231px 21px #cbd403, 234px 21px #c5d403, 237px 21px #bfd700,
    243px 21px #7cd750, 246px 21px #c3dd1b, 249px 21px #9ce143,
    252px 21px #83e35c, 267px 21px #f3cb04, 270px 21px #edc909,
    273px 21px #e3c713, 276px 21px #dbc51a, 306px 21px #61ab99,
    309px 21px #56a9a7, 312px 21px #48a5b6, 315px 21px #42a5c5,
    333px 21px #2c29d8, 336px 21px #3018d6, 339px 21px #4415cd,
    342px 21px #5515c5, 348px 21px #8f18a7, 351px 21px #a017a5,
    354px 21px #b6189b, 357px 21px #c71894, 381px 21px #ff1058,
    384px 21px #ff1154, 387px 21px #ff114d, 390px 21px #ff1046,
    396px 21px #ff0838, 399px 21px #ff0c31, 402px 21px #ff0a29,
    405px 21px #ff0a22, 429px 21px #ff1d00, 432px 21px #ff2400,
    435px 21px #ff2b01, 438px 21px #ff3000, 447px 21px #fd5800,
    450px 21px #fe6501, 453px 21px #fe7501, 456px 21px #fb8102,
    459px 21px #fc9200, 462px 21px #fc9f00, 465px 21px #fcad00,
    468px 21px #fcb700, 471px 21px #fcc500, 474px 21px #facf00,
    477px 21px #fada00, 3px 24px #fada03, 6px 24px #fbdb02, 9px 24px #fbdb02,
    12px 24px #fbdb04, 15px 24px #fac500, 18px 24px #fdbc05, 21px 24px #feac06,
    24px 24px #ff9f04, 33px 24px #ea8010, 36px 24px #ea7a16, 39px 24px #f06f11,
    42px 24px #ef6510, 45px 24px #fb5c08, 48px 24px #fd5a07, 51px 24px #ff5508,
    54px 24px #ff500c, 69px 24px #ff282a, 72px 24px #ff2333, 75px 24px #ff1d4b,
    78px 24px #ff155a, 87px 24px #f405c6, 90px 24px #e608c9, 93px 24px #d40dc9,
    96px 24px #c710c7, 108px 24px #8a20bf, 111px 24px #8422bf,
    114px 24px #7922bb, 117px 24px #7223ba, 129px 24px #604aaa,
    132px 24px #6052aa, 135px 24px #605aa7, 138px 24px #6068a7,
    141px 24px #6072a5, 144px 24px #607d9d, 147px 24px #608793,
    159px 24px #57c657, 162px 24px #55d249, 165px 24px #5bd33e,
    177px 24px #78ce1e, 180px 24px #7fcc17, 183px 24px #85cc0f,
    228px 24px #d0d502, 231px 24px #cbd403, 234px 24px #c6d403,
    246px 24px #c2de1c, 249px 24px #9ce143, 252px 24px #79e468,
    267px 24px #f3cb04, 270px 24px #edc909, 273px 24px #e3c713,
    276px 24px #dbc51a, 306px 24px #61ab9b, 309px 24px #56a9a7,
    312px 24px #48a5b6, 315px 24px #3aa1c5, 318px 24px #2a9bd3,
    321px 24px #2a87d7, 324px 24px #2a72d7, 327px 24px #2b59d8,
    330px 24px #2b41d7, 333px 24px #2c2bd7, 336px 24px #3017d6,
    339px 24px #4316ce, 348px 24px #8f18a7, 351px 24px #a017a6,
    354px 24px #b6189c, 357px 24px #c71895, 381px 24px #ff1058,
    384px 24px #ff1253, 387px 24px #ff104d, 390px 24px #ff0e48,
    396px 24px #ff0838, 399px 24px #ff0b31, 402px 24px #ff0b29,
    405px 24px #ff0a23, 429px 24px #ff2000, 432px 24px #ff2400,
    435px 24px #ff2b00, 438px 24px #ff3000, 447px 24px #fd5a00,
    450px 24px #fe6401, 453px 24px #fe7401, 456px 24px #fd8301,
    459px 24px #fd9102, 462px 24px #fd9f01, 465px 24px #fcad02,
    468px 24px #fcb901, 471px 24px #fcc502, 474px 24px #fbd002,
    477px 24px #f9d702, 3px 27px #fada03, 6px 27px #fbda03, 9px 27px #fbdb03,
    12px 27px #f9d900, 18px 27px #febb04, 21px 27px #feac06, 24px 27px #ff9f07,
    33px 27px #ef8413, 36px 27px #ea7a16, 39px 27px #ef6f11, 45px 27px #fb5c08,
    48px 27px #fd5a06, 51px 27px #ff5507, 54px 27px #ff500a, 69px 27px #ff292b,
    72px 27px #ff2333, 75px 27px #ff1d4a, 87px 27px #ef00bf, 90px 27px #e609c9,
    93px 27px #d40dc9, 96px 27px #c710c7, 108px 27px #8a20c2, 111px 27px #8422bf,
    114px 27px #7923bc, 117px 27px #7223b7, 129px 27px #6048ad,
    132px 27px #6152ac, 135px 27px #615eaa, 138px 27px #6269a7,
    141px 27px #6273a5, 144px 27px #627e9f, 147px 27px #608a95,
    159px 27px #57c656, 162px 27px #55d149, 165px 27px #5bd33e,
    177px 27px #78ce1e, 180px 27px #7fcc16, 183px 27px #85cc10,
    225px 27px #d3d300, 228px 27px #d1d403, 231px 27px #cbd403,
    234px 27px #c5d403, 246px 27px #badd23, 249px 27px #9ce143,
    252px 27px #75e46c, 255px 27px #60df80, 267px 27px #f3cb04,
    270px 27px #edc90a, 273px 27px #e3c813, 276px 27px #dbc51a,
    306px 27px #61ab99, 309px 27px #56a9a7, 312px 27px #48a5b5,
    315px 27px #39a1c6, 318px 27px #2c9cd5, 321px 27px #2a88d7,
    324px 27px #2a71d7, 327px 27px #2b5ad7, 330px 27px #2c43d7,
    333px 27px #2c2bd7, 336px 27px #2f18d6, 339px 27px #3818cf,
    348px 27px #8f18a7, 351px 27px #a017a5, 354px 27px #b6189c,
    357px 27px #c71895, 381px 27px #ff1058, 384px 27px #ff1154,
    387px 27px #ff104d, 390px 27px #ff1048, 396px 27px #ff1038,
    399px 27px #ff0c30, 402px 27px #ff0a29, 405px 27px #ff0a22,
    429px 27px #ff2000, 432px 27px #ff2400, 435px 27px #ff2b01,
    438px 27px #ff3000, 447px 27px #fd5a00, 450px 27px #fe6501,
    453px 27px #fe7401, 456px 27px #fd8300, 459px 27px #fd9200,
    462px 27px #fda001, 465px 27px #fdad00, 468px 27px #fdb901,
    471px 27px #fdc601, 474px 27px #fcd001, 477px 27px #f8d800, 3px 30px #fada03,
    6px 30px #fbdb03, 9px 30px #fbda02, 12px 30px #fada03, 18px 30px #fab605,
    21px 30px #feac06, 24px 30px #ff9e07, 27px 30px #ff9f10, 33px 30px #ef8612,
    36px 30px #ea7a15, 39px 30px #ec7213, 45px 30px #fb5c08, 48px 30px #fd5a07,
    51px 30px #ff5507, 54px 30px #ff500a, 66px 30px #ff3028, 69px 30px #ff2b2a,
    72px 30px #ff2434, 75px 30px #ff1d47, 78px 30px #ff1464, 81px 30px #ff1083,
    84px 30px #ff08a7, 87px 30px #f704c3, 90px 30px #e609c8, 93px 30px #d40dc9,
    96px 30px #c411c9, 108px 30px #8a20c2, 111px 30px #8422bf,
    114px 30px #7922bc, 117px 30px #7223b7, 129px 30px #6049ac,
    132px 30px #6252ad, 135px 30px #625dac, 138px 30px #6369a6,
    141px 30px #6273a5, 144px 30px #627ea0, 147px 30px #608a95,
    159px 30px #57c656, 162px 30px #55d249, 165px 30px #5bd33f,
    177px 30px #78ce1e, 180px 30px #7fcc17, 183px 30px #85cc10,
    225px 30px #d7d403, 228px 30px #d1d403, 231px 30px #cbd403,
    234px 30px #c2d203, 237px 30px #b7d308, 240px 30px #8bd330,
    243px 30px #5cd764, 246px 30px #bddf20, 249px 30px #9ce143,
    252px 30px #74e46e, 255px 30px #54e68d, 267px 30px #f3cb04,
    270px 30px #edc90a, 273px 30px #e3c713, 276px 30px #dbc51a,
    306px 30px #61ab99, 309px 30px #56a8a6, 312px 30px #48a5b6,
    315px 30px #3aa1c6, 318px 30px #2b9bd4, 321px 30px #2987d8,
    324px 30px #2b70d7, 327px 30px #2b5ad7, 330px 30px #2a43d6,
    333px 30px #2c30d7, 348px 30px #8f18a7, 351px 30px #a017a5,
    354px 30px #b6189c, 357px 30px #c71894, 381px 30px #ff1058,
    384px 30px #ff1154, 387px 30px #ff104d, 390px 30px #ff1048,
    396px 30px #ff1038, 399px 30px #ff0b31, 402px 30px #ff0b29,
    405px 30px #ff0a22, 429px 30px #ff1d00, 432px 30px #ff2401,
    435px 30px #ff2b00, 438px 30px #ff3000, 447px 30px #fd5a00,
    450px 30px #fe6500, 453px 30px #fe7401, 456px 30px #fb7c00, 3px 33px #fada03,
    6px 33px #fbdb02, 9px 33px #fbdb02, 12px 33px #fada03, 18px 33px #ffaf00,
    21px 33px #feac05, 24px 33px #ff9d07, 27px 33px #fa9508, 30px 33px #f48d0d,
    33px 33px #ef8613, 36px 33px #ea7a16, 39px 33px #ef7010, 45px 33px #fc5c0a,
    48px 33px #fd5a06, 51px 33px #ff5507, 54px 33px #ff500c, 66px 33px #ff3226,
    69px 33px #ff2b2a, 72px 33px #ff2433, 75px 33px #ff1d4b, 78px 33px #ff1668,
    81px 33px #ff0f88, 84px 33px #ff08ab, 87px 33px #fa04c7, 90px 33px #e609c9,
    93px 33px #d40cc9, 96px 33px #c411c9, 99px 33px #b714c7, 108px 33px #8920c2,
    111px 33px #8422bf, 114px 33px #7922bc, 117px 33px #7222b9,
    138px 33px #6070a7, 141px 33px #6273a5, 144px 33px #627fa0,
    147px 33px #608a95, 159px 33px #57c656, 162px 33px #55d249,
    165px 33px #5bd33f, 177px 33px #79ce1e, 180px 33px #7fcc16,
    183px 33px #85cb0f, 186px 33px #80cf10, 207px 33px #f2d203,
    210px 33px #f7d302, 213px 33px #f1d402, 225px 33px #d8d403,
    228px 33px #d1d403, 231px 33px #cbd403, 234px 33px #c5d403,
    237px 33px #b7d50a, 240px 33px #8cd735, 243px 33px #66d95b,
    246px 33px #c3dd1a, 249px 33px #9ce143, 252px 33px #74e56e,
    255px 33px #4de897, 267px 33px #f3cb04, 270px 33px #edc90a,
    273px 33px #e3c713, 276px 33px #dbc518, 306px 33px #61ab99,
    309px 33px #56a9a7, 312px 33px #48a5b6, 315px 33px #42a5c5,
    348px 33px #8f10af, 351px 33px #a017a6, 354px 33px #b6189b,
    357px 33px #ca1894, 381px 33px #ff1259, 384px 33px #ff1253,
    387px 33px #ff114d, 390px 33px #ff0d48, 396px 33px #ff1030,
    399px 33px #ff0b31, 402px 33px #ff0a29, 405px 33px #ff0923,
    429px 33px #ff2000, 432px 33px #ff2400, 435px 33px #ff2b01,
    438px 33px #ff3000, 447px 33px #fd5800, 450px 33px #fe6401,
    453px 33px #fe7401, 456px 33px #fb7c00, 3px 36px #fada03, 6px 36px #fbdb02,
    9px 36px #fbdb02, 12px 36px #fada03, 21px 36px #fda805, 24px 36px #ff9d07,
    27px 36px #fb9709, 30px 36px #f58f0f, 33px 36px #ef8613, 36px 36px #ea7d16,
    45px 36px #fa5d08, 48px 36px #fd5a06, 51px 36px #ff5507, 54px 36px #ff500a,
    66px 36px #ff3225, 69px 36px #ff2b2a, 72px 36px #ff2333, 75px 36px #ff1c4a,
    78px 36px #ff1668, 81px 36px #ff0f88, 84px 36px #ff08ab, 87px 36px #fa05c7,
    90px 36px #e609c9, 93px 36px #d40dc9, 96px 36px #c411c9, 99px 36px #b815c8,
    108px 36px #8720bf, 111px 36px #8422bf, 114px 36px #7923bc,
    117px 36px #7023ba, 138px 36px #6070a7, 141px 36px #6273a5,
    144px 36px #627e9f, 147px 36px #608a95, 159px 36px #57c656,
    162px 36px #56d248, 165px 36px #5bd33f, 177px 36px #7acd1c,
    180px 36px #7fcc17, 183px 36px #85cb10, 186px 36px #87c708,
    207px 36px #f1d303, 210px 36px #f9d402, 213px 36px #f4d502,
    222px 36px #dcd403, 225px 36px #d8d402, 228px 36px #d1d503,
    231px 36px #cbd403, 234px 36px #c5d403, 237px 36px #b7d50a,
    240px 36px #8cd734, 243px 36px #66d95c, 246px 36px #c3dd1b,
    249px 36px #9ce143, 252px 36px #74e46e, 255px 36px #49e89b,
    258px 36px #31efb5, 267px 36px #f3cb00, 270px 36px #edc90a,
    273px 36px #e3c713, 276px 36px #dbc51a, 306px 36px #61ab99,
    309px 36px #56a9a7, 312px 36px #48a5b6, 315px 36px #42a5c5,
    351px 36px #a117a5, 354px 36px #b6189c, 357px 36px #cc1992,
    360px 36px #cf108f, 381px 36px #ff1359, 384px 36px #ff1154,
    387px 36px #ff114d, 390px 36px #ff1045, 399px 36px #ff0b31,
    402px 36px #ff0a29, 405px 36px #ff0922, 408px 36px #ff1010,
    429px 36px #ff1f01, 432px 36px #ff2400, 435px 36px #ff2a01,
    438px 36px #ff3000, 447px 36px #fd5a00, 450px 36px #fe6401,
    453px 36px #fe7501, 456px 36px #fb7c00, 3px 39px #fada03, 6px 39px #fbdb02,
    9px 39px #fbdb03, 12px 39px #fada03, 21px 39px #fba708, 24px 39px #ff9d07,
    27px 39px #fb960a, 30px 39px #f68f0e, 33px 39px #ef8612, 36px 39px #e77c14,
    45px 39px #fa5d08, 48px 39px #fd5a06, 51px 39px #ff5607, 54px 39px #ff500a,
    63px 39px #ff3820, 66px 39px #ff3323, 69px 39px #ff2b2a, 72px 39px #ff242e,
    75px 39px #ff2048, 78px 39px #ff1068, 81px 39px #ff1080, 84px 39px #ff08a7,
    87px 39px #f708c7, 90px 39px #e708c7, 93px 39px #d20dca, 96px 39px #c411c9,
    99px 39px #b415c9, 102px 39px #9f10cf, 111px 39px #8321bf,
    114px 39px #7923bc, 117px 39px #6e23b9, 120px 39px #6623b7,
    138px 39px #6070a7, 141px 39px #6273a5, 144px 39px #627ea0,
    147px 39px #608a95, 159px 39px #57c656, 162px 39px #55d249,
    165px 39px #5bd33f, 177px 39px #78cb1c, 180px 39px #7fcd17,
    183px 39px #85cb10, 186px 39px #8cca08, 204px 39px #e3d300,
    207px 39px #f1d303, 210px 39px #f9d403, 213px 39px #f4d502,
    222px 39px #ded403, 225px 39px #d8d403, 228px 39px #d1d403,
    231px 39px #c7cf08, 234px 39px #c7cf08, 237px 39px #b7cf08,
    240px 39px #8fd730, 243px 39px #58d760, 246px 39px #c7df18,
    249px 39px #96df49, 252px 39px #74e46e, 255px 39px #49e89c,
    258px 39px #32e9b3, 267px 39px #f3cb04, 270px 39px #edc90a,
    273px 39px #e3c813, 276px 39px #dbc51a, 306px 39px #61ab99,
    309px 39px #56a9a7, 312px 39px #48a5b6, 315px 39px #42a5c5,
    351px 39px #a316a3, 354px 39px #b6189c, 357px 39px #cc1892,
    360px 39px #df198b, 378px 39px #ff145c, 381px 39px #ff135a,
    384px 39px #ff1254, 387px 39px #ff104e, 399px 39px #ff0a2e,
    402px 39px #ff0a29, 405px 39px #ff0922, 408px 39px #ff071b,
    426px 39px #ff1800, 429px 39px #ff1d00, 432px 39px #ff2401,
    435px 39px #ff2900, 447px 39px #fd5800, 450px 39px #fe6401,
    453px 39px #fe7501, 456px 39px #fb7c00, 3px 42px #fada03, 6px 42px #fbdb02,
    9px 42px #fbdb02, 12px 42px #fada03, 24px 42px #ff9c07, 27px 42px #fb960a,
    30px 42px #f68f0e, 33px 42px #f08612, 45px 42px #fa5d08, 48px 42px #fd5a06,
    51px 42px #ff5507, 54px 42px #ff500a, 63px 42px #ff3a1e, 66px 42px #ff3323,
    69px 42px #ff2b2a, 72px 42px #ff2030, 93px 42px #cf0ec6, 96px 42px #c411c9,
    99px 42px #b415c8, 102px 42px #aa18c5, 111px 42px #8020bf,
    114px 42px #7923bc, 117px 42px #6e23b9, 120px 42px #6424b6,
    123px 42px #602ab5, 126px 42px #6038af, 135px 42px #605ca7,
    138px 42px #626aa8, 141px 42px #6273a5, 144px 42px #627ea0,
    147px 42px #608895, 159px 42px #57c656, 162px 42px #56d248,
    165px 42px #5bd33f, 180px 42px #80cc17, 183px 42px #85cb0f,
    186px 42px #8cca09, 189px 42px #93c903, 192px 42px #97c700,
    198px 42px #bfcf00, 201px 42px #cfcf00, 204px 42px #e1d203,
    207px 42px #f1d303, 210px 42px #f9d403, 213px 42px #efcf00,
    219px 42px #dfcf00, 222px 42px #dfd402, 225px 42px #d8d402,
    228px 42px #d2d503, 252px 42px #73e570, 255px 42px #49e89b,
    258px 42px #3be7ac, 267px 42px #f3cb04, 270px 42px #edc909,
    273px 42px #e3c713, 276px 42px #dcc71b, 279px 42px #cfc328,
    282px 42px #c3c330, 285px 42px #b7bf3c, 288px 42px #abbb48,
    291px 42px #a3bb54, 294px 42px #97b760, 297px 42px #8bb36c,
    300px 42px #80af70, 306px 42px #61ab99, 309px 42px #56a9a7,
    312px 42px #48a5b5, 315px 42px #42a5c5, 351px 42px #af109f,
    354px 42px #b7189a, 357px 42px #cc1991, 360px 42px #e21989,
    363px 42px #f71a80, 366px 42px #ff1575, 372px 42px #ff1070,
    375px 42px #ff1666, 378px 42px #ff1461, 381px 42px #ff135a,
    384px 42px #ff1154, 387px 42px #ff1050, 399px 42px #ff1030,
    402px 42px #ff0a29, 405px 42px #ff0a21, 408px 42px #ff071a,
    411px 42px #ff0612, 414px 42px #ff0505, 420px 42px #ff1000,
    423px 42px #ff1000, 426px 42px #ff1600, 429px 42px #ff1d01,
    432px 42px #ff2400, 435px 42px #ff2800, 447px 42px #fd5800,
    450px 42px #fe6401, 453px 42px #fe7401, 456px 42px #fb7c00, 3px 45px #fada03,
    6px 45px #fbdb02, 9px 45px #fbdb02, 12px 45px #fada03, 24px 45px #fd9908,
    27px 45px #fb960a, 30px 45px #f68f0e, 33px 45px #f18812, 45px 45px #fa5d08,
    48px 45px #fd5a07, 51px 45px #ff5507, 54px 45px #ff500c, 63px 45px #ff3a1e,
    66px 45px #ff3223, 69px 45px #ff2b29, 93px 45px #cf10cf, 96px 45px #c411c8,
    99px 45px #b415c8, 102px 45px #a819c7, 114px 45px #7523ba,
    117px 45px #6e23b8, 120px 45px #6424b6, 123px 45px #602db4,
    126px 45px #6039b1, 129px 45px #6046ae, 132px 45px #6152ac,
    135px 45px #615daa, 138px 45px #6269a7, 141px 45px #6274a5,
    144px 45px #637ea0, 147px 45px #608097, 159px 45px #57c656,
    162px 45px #55d249, 165px 45px #5bd33e, 180px 45px #80cf10,
    183px 45px #86ca0f, 186px 45px #8cca08, 189px 45px #94c903,
    192px 45px #a2cb03, 195px 45px #b0cc03, 198px 45px #bfce03,
    201px 45px #cfd003, 204px 45px #e0d103, 207px 45px #f1d303,
    210px 45px #f9d302, 219px 45px #e2d403, 222px 45px #dfd503,
    225px 45px #d8d403, 228px 45px #d2d603, 252px 45px #6ae377,
    255px 45px #49e89b, 258px 45px #40e8a8, 261px 45px #68df80,
    267px 45px #f3cb04, 270px 45px #edc90a, 273px 45px #e3c713,
    276px 45px #dac61d, 279px 45px #d0c427, 282px 45px #c6c232,
    285px 45px #bbc03d, 288px 45px #b0bd48, 291px 45px #a4bb55,
    294px 45px #98b861, 297px 45px #8cb56e, 300px 45px #84b57b,
    306px 45px #61ab9b, 309px 45px #56a9a7, 312px 45px #48a5b6,
    315px 45px #42a5c5, 354px 45px #b71897, 357px 45px #ce1891,
    360px 45px #e21988, 363px 45px #f7197f, 366px 45px #ff1878,
    369px 45px #ff1873, 372px 45px #ff166d, 375px 45px #ff1567,
    378px 45px #ff1460, 381px 45px #ff125a, 384px 45px #ff1352,
    402px 45px #ff0828, 405px 45px #ff0921, 408px 45px #ff081a,
    411px 45px #ff0612, 414px 45px #ff060a, 417px 45px #ff0402,
    420px 45px #ff0901, 423px 45px #ff1000, 426px 45px #ff1600,
    429px 45px #ff1d00, 432px 45px #ff2300, 447px 45px #fd5a00,
    450px 45px #fe6501, 453px 45px #fe7401, 456px 45px #fb7c00, 3px 48px #fada03,
    6px 48px #fbdb02, 9px 48px #fbdb03, 12px 48px #fada03, 24px 48px #ff9f00,
    27px 48px #fb960a, 30px 48px #f68f0e, 33px 48px #ef8710, 45px 48px #fa5d08,
    48px 48px #fd5a06, 51px 48px #ff5507, 54px 48px #ff500a, 60px 48px #ff3d18,
    63px 48px #ff3a1d, 66px 48px #ff3323, 69px 48px #ff2b29, 96px 48px #c311c8,
    99px 48px #b415c8, 102px 48px #a71ac7, 105px 48px #9f10bf,
    117px 48px #6820b7, 120px 48px #6325b4, 123px 48px #602db4,
    126px 48px #6039b1, 129px 48px #6046af, 132px 48px #6152ac,
    135px 48px #615da9, 138px 48px #6269a8, 141px 48px #6272a5,
    144px 48px #60709f, 159px 48px #57c656, 162px 48px #56d249,
    165px 48px #5bd33f, 186px 48px #8bc908, 189px 48px #95c903,
    192px 48px #a2cb03, 195px 48px #b0cd03, 198px 48px #bfce03,
    201px 48px #cfd003, 204px 48px #dfd203, 207px 48px #ebd304,
    219px 48px #e5d503, 222px 48px #dfd402, 225px 48px #d9d403,
    252px 48px #64e37c, 255px 48px #49e89b, 258px 48px #40e7a7,
    261px 48px #71e17a, 267px 48px #f3cb04, 270px 48px #edc90a,
    273px 48px #e3c713, 276px 48px #dac61d, 279px 48px #d0c427,
    282px 48px #c6c232, 285px 48px #bbc03d, 288px 48px #b0bd49,
    291px 48px #a4bb55, 294px 48px #98b861, 297px 48px #8cb56e,
    300px 48px #84b57b, 306px 48px #61ab99, 309px 48px #56a9a7,
    312px 48px #48a5b6, 315px 48px #42a5c5, 357px 48px #cf188f,
    360px 48px #e21887, 363px 48px #f81a7f, 366px 48px #ff1979,
    369px 48px #ff1872, 372px 48px #ff166d, 375px 48px #ff1566,
    378px 48px #ff1461, 381px 48px #ff105a, 405px 48px #ff0820,
    408px 48px #ff0819, 411px 48px #ff0611, 414px 48px #ff050a,
    417px 48px #ff0502, 420px 48px #ff0901, 423px 48px #ff1000,
    426px 48px #ff1700, 429px 48px #ff1b00, 447px 48px #fd5800,
    450px 48px #fe6501, 453px 48px #fe7401, 456px 48px #fb7c00,
    123px 51px #6030af, 126px 51px #6038af, 129px 51px #6044ab,
    132px 51px #6050af, 135px 51px #6058af, 192px 51px #a5ca05,
    195px 51px #afcb04, 198px 51px #bfcf05, 201px 51px #cfcf00,
    366px 51px #ff1575, 369px 51px #ff1870, 372px 51px #ff156a,
    375px 51px #ff1070, 414px 51px #ff050b, 417px 51px #ff0404,
    420px 51px #ff0500, 423px 51px #ff1000;
} */

.logo {
  width: 500px;
  padding: 0px 10px 50px 10px;
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
body,
html {
  font-family: "Press Start 2P", cursive;
  -webkit-font-smoothing: none;
  background: #212121;
  color: #e4f9fa;
  overflow: hidden;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: crosshair;
}

body {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

h1 {
  font-size: 1.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 200;
  text-transform: uppercase;
  line-height: 1.4;
  text-shadow: 0 0.25em 0 rgba(0, 0, 0, 0.5);
}

.container {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.container:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.25);
  transform: rotate(45deg);
  outline: 10px solid rgba(0, 0, 0, 0.1);
}
.container:nth-child(4n):before,
.container:nth-child(7n):before {
  display: none;
}

.particle {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}
.particle:nth-child(1) .sparcle {
  -webkit-animation-delay: 0ms;
  animation-delay: 0ms;
}
.particle:nth-child(2) .sparcle {
  -webkit-animation-delay: 50ms;
  animation-delay: 50ms;
}
.particle:nth-child(3) .sparcle {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}
.particle:nth-child(4) .sparcle {
  -webkit-animation-delay: 150ms;
  animation-delay: 150ms;
}
.particle:nth-child(5) .sparcle {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}
.particle:nth-child(6) .sparcle {
  -webkit-animation-delay: 250ms;
  animation-delay: 250ms;
}
.particle:nth-child(7) .sparcle {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}
.particle:nth-child(8) .sparcle {
  -webkit-animation-delay: 350ms;
  animation-delay: 350ms;
}
.particle:nth-child(9) .sparcle {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.particle:nth-child(10) .sparcle {
  -webkit-animation-delay: 450ms;
  animation-delay: 450ms;
}
.particle:nth-child(11) .sparcle {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}
.particle:nth-child(12) .sparcle {
  -webkit-animation-delay: 550ms;
  animation-delay: 550ms;
}
.particle:nth-child(13) .sparcle {
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.particle:nth-child(14) .sparcle {
  -webkit-animation-delay: 650ms;
  animation-delay: 650ms;
}
.particle:nth-child(15) .sparcle {
  -webkit-animation-delay: 700ms;
  animation-delay: 700ms;
}
.particle:nth-child(16) .sparcle {
  -webkit-animation-delay: 750ms;
  animation-delay: 750ms;
}
.particle:nth-child(17) .sparcle {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}
.particle:nth-child(18) .sparcle {
  -webkit-animation-delay: 850ms;
  animation-delay: 850ms;
}
.particle:nth-child(19) .sparcle {
  -webkit-animation-delay: 900ms;
  animation-delay: 900ms;
}
.particle:nth-child(20) .sparcle {
  -webkit-animation-delay: 950ms;
  animation-delay: 950ms;
}
.particle:nth-child(21) .sparcle {
  -webkit-animation-delay: 1000ms;
  animation-delay: 1000ms;
}

.sparcle {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background: rgba(228, 249, 250, 0);
  will-change: transform, box-shadow, background-color;
  transform: rotate(45deg) scale(0.5) translateZ(0);
  -webkit-animation: explode 333ms;
  animation: explode 333ms;
  box-shadow: 0 0 0 0 #fde655;
}

@-webkit-keyframes explode {
  0% {
    background-color: #e4f9fa;
    transform: rotate(45deg) scale(1.2) translateZ(0);
    box-shadow: 0 0 0 0 #fde655;
  }
  40% {
    background-color: rgba(228, 249, 250, 0.1);
  }
  50% {
    transform: rotate(45deg) scale(1) translateZ(0);
    box-shadow: 0 0 0 10px #fde655;
    background-color: rgba(228, 249, 250, 0);
  }
  60% {
    box-shadow: 0 0 0 50px #d47946;
    transform: rotate(45deg) scale(0.5) translateZ(0);
  }
  70% {
    background-color: rgba(228, 249, 250, 0);
    box-shadow: 0 0 0 30px #7a2c1f;
  }
  100% {
    background-color: #7a2c1f;
    box-shadow: 0 0 0 0 #7a2c1f;
    transform: rotate(45deg) scale(0.25) translateZ(0);
  }
}

@keyframes explode {
  0% {
    background-color: #e4f9fa;
    transform: rotate(45deg) scale(1.2) translateZ(0);
    box-shadow: 0 0 0 0 #fde655;
  }
  40% {
    background-color: rgba(228, 249, 250, 0.1);
  }
  50% {
    transform: rotate(45deg) scale(1) translateZ(0);
    box-shadow: 0 0 0 10px #fde655;
    background-color: rgba(228, 249, 250, 0);
  }
  60% {
    box-shadow: 0 0 0 50px #d47946;
    transform: rotate(45deg) scale(0.5) translateZ(0);
  }
  70% {
    background-color: rgba(228, 249, 250, 0);
    box-shadow: 0 0 0 30px #7a2c1f;
  }
  100% {
    background-color: #7a2c1f;
    box-shadow: 0 0 0 0 #7a2c1f;
    transform: rotate(45deg) scale(0.25) translateZ(0);
  }
}

.player {
  padding-bottom: 80px;
}

.list-social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 15px;
  font-family: "Press Start 2P";
  font-size: 35px;
  color: #00bbff;
}

.social-media {
  font-family: "Press Start 2P";
  font-size: 83%;
  color: #7fff00;
}

.element-media {
  margin: 0px;
  padding: 5px;
  color: #d47946;
}

.block-social-media {
  display: inline-block;
  margin: 0px 5px 15px 5px;
}

.circle {
  display: inline-block;
  margin: 0px 3px 3px 0px;
  width: 5px;
  height: 5px;
  border: 2px solid #ff0000;
  border-radius: 50%;
  background: #ff0000;
}

.line {
  border: none;
  background-color: rgb(255, 247, 0);
  color: rgb(255, 247, 0);
  height: 2px;
  width: 45%;
}

@media all and (min-width: 900px) {
  .logo {
    width: 620px;
  }

  .player {
    width: 100%;
    height: 54%;
    padding: 0px;
  }

  .line {
    width: 55%;
    margin-top: 2%;
  }

  .title {
    font-size: 35px;
    margin-top: 2%;
  }

  .block-social-media {
    margin: 2% 0% 8% 0%;
  }

  .social-media {
    font-size: 20px;
  }
}

@media all and (max-width: 900px) {
  .logo {
    padding: 100px 0px 0px 0px;
    width: 500px;
  }

  .player {
    width: 100%;
    height: 50%;
    padding: 0px;
  }

  .title {
    font-size: 30px;
    margin-top: 2%;
  }

  .block-social-media {
    margin-bottom: 8%;
  }

  .line {
    width: 60%;
  }

  .social-media {
    font-size: 15px;
  }
}

@media all and (max-width: 800px) {
  .player {
    height: 50%;
    width: 70%;
  }

  .line {
    width: 70%;
  }
}

@media all and (max-width: 550px) {
  .player {
    width: 45%;
    height: 50%;
  }

  .logo {
    padding: 20px 0px 0px 0px;
    width: 300px;
  }

  .line {
    width: 39%;
  }

  .title {
    margin-top: 2%;
    font-size: 25px;
  }

  .list-social-media {
    flex-direction: column;
  }
}

@media all and (max-width: 410px) {
  .logo {
    padding: 60px 0px 0px 0px;
    width: 300px;
  }

  .player {
    width: 43%;
    height: 50%;
  }
}

/* @media all and (min-width: 390px) {
  .main {
    justify-content: flex-start;
  }

  .logo {
    padding: 90px 0px 0px 0px;
    width: 300px;
  }

  .player {
    width: 100%;
    height: 40%;
  }

  .line {
    width: 90%;
    margin-top: 5%;
  }

  .title {
    margin-top: 5%;
    font-size: 27px;
  }

  .block-social-media {
    margin-bottom: 12%;
  }

  .social-media {
    font-size: 15px;
  }

  .list-social-media {
    flex-direction: column;
  }
} */

@media all and (max-width: 390px) {
  .main {
    justify-content: flex-start;
  }

  .logo {
    padding: 30px 0px 0px 0px;
    width: 300px;
  }

  .player {
    width: 50%;
    height: 50%;
  }

  .line {
    width: 38%;
  }

  .title {
    margin-top: 2%;
    font-size: 25px;
  }

  .list-social-media {
    flex-direction: column;
  }

  .block-social-media {
    margin-bottom: 13px;
  }

  .social-media {
    font-size: 15px;
  }

  .circle {
    width: 3px;
    height: 3px;
  }
}

@media all and (max-width: 290px) {
  .logo {
    padding: 20px 0px 0px 0px;
    width: 200px;
  }

  .player {
    width: 37%;
    height: 55%;
  }

  .title {
    font-size: 20px;
  }

  .social-media {
    font-size: 11px;
  }
}

@media all and (min-width: 1000px) {
  .logo {
    padding-top: 41px;
  }

  .player {
    width: 90%;
  }

  .line {
    width: 90%;
  }

  .block-social-media {
    margin: 2%;
  }

  .list-social-media {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 90%;
  }
}
