.game-area {
  position: relative;
  width: 100vh;
  height: 100vh;
  overflow-y: auto;
}

@media all and (width: 1024px) {
  .game-area {
    width: 100%;
  }
}

@media all and (max-width: 1400px) {
  .game-area {
    width: 100%;
  }
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #1cff14;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: rgb(241, 47, 255);
  border: 1px solid #fff;
  z-index: 1;
}
